{% extends 'main/base.html' %}
{% load static %}
{% block title %}HRAI{% endblock %}

    {% block header-content %}
    <nav>
        <div class="dropdown">
            <a href="{% url 'create_resume' %}" id="create-resume-link">Добавить резюме</a>
            <a href="{% url 'list_resume' %}" id="list-resume-link">Список резюме</a>
            <a href="{% url 'create_vacancy' %}" id="create-vacancy-link">Создать вакансию</a>
            <a href="{% url 'list_vacancy' %}" id="list-vacancy-link">Список вакансий</a>
        </div>
    </nav>
    <script>
        const links = document.querySelectorAll('.dropdown a');
        const currentPath = window.location.pathname;

        links.forEach(link => {
            if (link.href.endsWith(currentPath)) {
                link.classList.add('active');
            }
        });
    </script>
    {% endblock %}
    {% block main_content %}
    <h2>Создать резюме</h2>
    <form method="post" >
        <div class="resume-box">
            {% csrf_token %}
            {{ form.full_name }}
            {{ form.position }}
            {{ form.skills }}
            {{ form.salary }}
            {{ form.employment_type }}
            {{ form.work_experience }}
        </div>
        <button type="submit">Создать</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <script>
        const jobTitleSelect = document.getElementById("jobTitle");
        const skillsSelect = document.getElementById("skills");
        const skillsData = JSON.parse('{{ skills_data|safe }}');

        jobTitleSelect.addEventListener("change", function() {
            const selectedJob = this.value;
            skillsSelect.innerHTML = ''; // Очищаем список навыков

            if (selectedJob in skillsData) {
                const jobSkills = skillsData[selectedJob];
                jobSkills.forEach(skill => {
                    const option = document.createElement("option");
                    option.value = skill;
                    option.text = skill;
                    skillsSelect.appendChild(option);
                });
            }
        });
    </script>



    {% endblock %}



