{% extends 'main/base.html' %}
{% load static %}

{% block title %}HRAI{% endblock %}

{% block header-content %}
<nav>
    <div class="dropdown">
        <a href="{% url 'create_resume' %}" id="create-resume-link">Добавить резюме</a>
        <a href="{% url 'list_resume' %}" id="list-resume-link">Список резюме</a>
        <a href="{% url 'create_vacancy' %}" id="create-vacancy-link">Создать вакансию</a>
        <a href="{% url 'list_vacancy' %}" id="list-vacancy-link">Список вакансий</a>
    </div>
</nav>
<script>
    const links = document.querySelectorAll('.dropdown a');
    const currentPath = window.location.pathname;

    links.forEach(link => {
        if (link.href.endsWith(currentPath)) {
            link.classList.add('active');
        }
    });
</script>
{% endblock %}

{% block main_content %}
<h1>Список Вакансий</h1>
<div class="vacancy-container">
    <ul class="resume_vacancy_ul">
        {% for vacancy in vacances %}
            <a href="{% url 'current_vacancy' vacancy.id %}" class="fill_div">
                <li class="resume_vacancy_il">
                    Должность: {{ vacancy.position }} <br> Тип занятости: {{ vacancy.employment_type }} <br>
                    Опыт работы: {{ vacancy.work_experience }} лет <br>
                    Требуемые навыки: <br>
                    {% for skill in vacancy.skills.all %}
                        - {{ skill.skill.name }}<br>  <!-- Обратите внимание на skill.skill.name -->
                    {% endfor %}
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
