{% extends 'main/html/base.html' %}
{% load static %}
{% block title %}HRAI{% endblock %}

        {% block header-content %}
        <nav>
            <div class="dropdown">
               <a >Добавить резюме</a>
               <a >Создать вакансию</a>
               <a >Аналитика</a>
            </div>
        </nav>
        {% endblock %}
        {% block main_content %}
        <h2>Создать резюме</h2>
        <form method="post" >
            <div class="resume-box">
            {% csrf_token %}
            {{ form.full_name }}
            {{ form.position }}
            {{ form.skills }}
            {{ form.salary }}
            {{ form.employment_type }}
            </div>
        </form>
        <script>
            const jobTitleSelect = document.getElementById("jobTitle");
            const skillsSelect = document.getElementById("skills");
            const skillsData = JSON.parse('{{ skills_data|safe }}');

            jobTitleSelect.addEventListener("change", function() {
                const selectedJob = this.value;
                skillsSelect.innerHTML = ''; // Очищаем список навыков

                if (selectedJob in skillsData) {
                    const jobSkills = skillsData[selectedJob];
                    jobSkills.forEach(skill => {
                        const option = document.createElement("option");
                        option.value = skill;
                        option.text = skill;
                        skillsSelect.appendChild(option);
                    });
                }
            });
        </script>
<!--                <div class="resume-box">-->
<!--                    <input type="text" id="fio" name="fio" placeholder="ФИО">-->
<!--                    <select id="jobTitle" name="jobTitle">-->
<!--                      <option value="">Выберите должность</option>-->
<!--                      {% for title in job_titles %}-->
<!--                        <option value="{{ title }}">{{ title }}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->
<!--                    <select id="skills" name="skills" multiple> </select>  &lt;!&ndash; multiple позволяет выбрать несколько навыков &ndash;&gt;-->
<!--                    <script>-->
<!--                        const jobTitleSelect = document.getElementById("jobTitle");-->
<!--                        const skillsSelect = document.getElementById("skills");-->
<!--                        const skillsData = {{ skills_data|safe }}; //  Обратите внимание на {{ skills_data|safe }}-->

<!--                        jobTitleSelect.addEventListener("change", function() {-->
<!--                          const selectedJob = this.value;-->
<!--                          skillsSelect.innerHTML = '<option value="">Выберите навыки</option>'; // Очищаем список навыков-->

<!--                          if (selectedJob in skillsData) {-->
<!--                            const jobSkills = skillsData[selectedJob];-->
<!--                            jobSkills.forEach(skill => {-->
<!--                              const option = document.createElement("option");-->
<!--                              option.value = skill;-->
<!--                              option.text = skill;-->
<!--                              skillsSelect.appendChild(option);-->
<!--                            });-->
<!--                          }-->
<!--                        });-->
<!--                    </script>-->
<!--                    <input type="number" id="salary" name="salary" min="0" step="1" pattern="[0-9]*" placeholder="Зарплата">-->
<!--                        <span id="salaryError" style="color: red;"></span>-->
<!--                    <select id="workSchedule" name="workSchedule" multiple>-->
<!--                          <option value="">Выберите график</option>-->
<!--                          <option value="Удаленная работа">Удаленная работа</option>-->
<!--                          <option value="Гибкий график">Гибкий график</option>-->
<!--                          <option value="Полный день">Полный день</option>-->
<!--                          <option value="Сменный график">Сменный график</option>-->
<!--                          <option value="Вахтовый метод">Вахтовый метод</option>-->
<!--                    </select>-->
<!--                    <div id="workExperience">-->
<!--                        <div class="workExperienceItem">-->
<!--                        <label for="position_1">Должность:</label>-->
<!--                        <select id="jobTitle_2" name="jobTitle">-->
<!--                            <option value="">Выберите должность</option>-->
<!--                            {% for title in job_titles %}-->
<!--                            <option value="{{ title }}">{{ title }}</option>-->
<!--                            {% endfor %}-->
<!--                        <label for="company_1">Компания:</label>-->
<!--                        <input type="text" id="company_1" name="company_1" placeholder="Название компании">-->
<!--                        <label for="period_1">Период работы:</label>-->
<!--                        <input type="text" id="period_1" name="period_1" placeholder="Например, 2020-2022 или 2020-настоящее время">-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <button id="addWorkExperience">Добавить опыт работы</button>-->
<!--                    <div id="totalExperience"></div> &lt;!&ndash; Здесь будет отображаться общий опыт &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div id="institution-container">-->
<!--                    <label for="institution">Учебное заведение:</label>-->
<!--                        <select id="institution" name="institution">-->
<!--                            <option value="">Выберите учебное заведение</option>-->
<!--                            {% for institution in institutions %}-->
<!--                                <option value="{{ institution }}">{{ institution }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                        <select id="typeeducation" name="typeeducation">-->
<!--                          <option value="">Выберите тип образовния</option>-->
<!--                          <option value="Бакалавриат">Бакалавриат</option>-->
<!--                          <option value="Магистратура">Магистратура</option>-->
<!--                          <option value="Специалитет">Специалитет</option>-->
<!--                          <option value="Среднее">Среднее</option>-->
<!--                          </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </form>-->
<!--                <script>-->
<!--                    const addWorkExperienceButton = document.getElementById("addWorkExperience");-->
<!--                    const workExperienceContainer = document.getElementById("workExperience");-->
<!--                    let workExperienceCount = 1;-->
<!--                    const totalExperienceDiv = document.getElementById("totalExperience");-->

<!--                    function calculateTotalExperience() {-->
<!--                    let totalExperienceYears = 0;-->
<!--                    const experienceItems = document.querySelectorAll('.workExperienceItem');-->
<!--                    experienceItems.forEach(item => {-->
<!--                        const periodInput = item.querySelector('input[name^="period_"]');-->
<!--                        if (periodInput) {-->
<!--                            const period = periodInput.value;-->
<!--                            totalExperienceYears += calculateExperienceYears(period);-->
<!--                        }-->
<!--                    });-->
<!--                    totalExperienceDiv.textContent = `Общий опыт работы: ${totalExperienceYears} лет`;-->
<!--                }-->

<!--                    function calculateExperienceYears(period) {-->
<!--                    try {-->
<!--                        const [start, end] = period.split('-');-->
<!--                        const startYear = parseInt(start);-->
<!--                        const endYear = end === 'настоящее время' ? new Date().getFullYear() : parseInt(end);-->
<!--                        return endYear - startYear;-->
<!--                    } catch (error) {-->
<!--                        return 0;-->
<!--                    }-->
<!--                }-->


<!--                    function addWorkExperienceItem() {-->
<!--                        workExperienceCount++;-->
<!--                        const newWorkExperienceItem = document.createElement('div');-->
<!--                        newWorkExperienceItem.classList.add('workExperienceItem');-->
<!--                        newWorkExperienceItem.innerHTML = `-->
<!--                            <label for="position_${workExperienceCount}">Должность:</label>-->
<!--                            <select id="position_${workExperienceCount}" name="position_${workExperienceCount}">-->
<!--                                <option value="">Выберите должность</option>-->
<!--                                {% for title in job_titles %}-->
<!--                                    <option value="{{ title }}">{{ title }}</option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                            <label for="company_${workExperienceCount}">Компания:</label>-->
<!--                            <input type="text" id="company_${workExperienceCount}" name="company_${workExperienceCount}" placeholder="Название компании">-->
<!--                            <label for="period_${workExperienceCount}">Период работы:</label>-->
<!--                            <input type="text" id="period_${workExperienceCount}" name="period_${workExperienceCount}" placeholder="Например, 2020-2022 или 2020-настоящее время">-->
<!--                        `;-->
<!--                        const addButton = document.getElementById("addWorkExperience");-->
<!--                        workExperienceContainer.insertBefore(newWorkExperienceItem, addButton); // Вставляем перед кнопкой-->

<!--                        // Добавляем обработчик события для пересчета общего опыта при изменении периода работы в новом элементе.-->
<!--                        newWorkExperienceItem.querySelector('input[name^="period_"]').addEventListener('input', calculateTotalExperience);-->
<!--                        calculateTotalExperience(); // Добавлено: пересчитываем после добавления элемента-->
<!--                    }-->

<!--                    addWorkExperienceButton.addEventListener("click", addWorkExperienceItem);-->


<!--                    // Вызываем calculateTotalExperience при изменении периода работы (для уже существующих элементов)-->
<!--                    workExperienceContainer.addEventListener('input', function(event) {-->
<!--                        if (event.target.name && event.target.name.startsWith('period_')) {-->
<!--                            calculateTotalExperience();-->
<!--                        }-->
<!--                    });-->
<!--                </script>-->
                <button type="submit">Создать</button>
        {% endblock %}

