{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {% block extra_head %}{% endblock %}  <!-- Добавлено для дополнительных тегов <head> -->
</head>
<body>
    <div class="container">  <!-- Общий контейнер -->
            <header>
                <a href="{% url 'home' %}" class="logo">HRAI</a>
                <div class="user-info">
                    {% if user.is_authenticated %}
                        <p class="username">{{ user.username }}</p>
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                        </form>
                        <a href="javascript:void(0)" class="logout-link" onclick="document.getElementById('logout-form').submit();">Выход</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="login-link">Войти</a>
                    {% endif %}
                </div>
                {% block header-content %}
                {% endblock %}
            </header>

        {% block main %}
            <main>
                {% block main_content %}{% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block scripts %}{% endblock %} <!-- Добавлено для скриптов -->
</body>
</html>