{% extends 'main/html/base.html' %}
{% load static %}


{% block main_content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
</div>
<!--            {{ form2.as_table }}-->
<!--        <button type="submit">Войти</button>-->
<!--        <a href="{% url 'signup' %}" class="register-button">Зарегистрироваться</i></a>-->
<!--    </form>-->
{% endblock %}



